/* RESET */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background: #f4f6f8;
}

/* PAGE STRUCTURE */
body {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}

/* CONTAINER */
.container {
    width: 85%;
    max-width: 1000px;
    margin: auto;
}

/* HEADER */
header {
    background: #2c3e50;
    color: white;
    text-align: center;
    padding: 15px 0;
}

/* NAV */
nav {
    margin-top: 8px;
}

nav a {
    color: #ecf0f1;
    margin: 0 12px;
    text-decoration: none;
    font-size: 14px;
}

nav a:hover {
    color: #1abc9c;
}

/* BANNER */
.banner {
    background: #3498db;
    color: white;
    text-align: center;
    padding: 70px 20px;
}

/* MAIN SECTION AREA */
main {
    padding: 30px 0;
}

/* SECTION CARD */
.section {
    background: white;
    padding: 25px;
    border-radius: 8px;
    margin-bottom: 25px;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

/* CARD */
.card {
    background: #fafafa;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #ddd;
}

/* BUTTON */
button {
    width: 100%;
    padding: 10px;
    background: #3498db;
    color: white;
    border: none;
}

button:hover {
    background: #1c6fa7;
}

/* FORM */
input, textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

/* FOOTER */
footer {
    background: #6399cf;
    color: white;
    text-align: center;
    padding: 15px;
}
/* LOGO */
.logo {
    width: 60px;
    display: block;
    margin: auto;
    margin-bottom: 8px;
}